nav div{
    display: flex;
    justify-content: center;
    
    
}
nav div ul{
    display: flex;
    
    width: 320px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #D9D9D9;
    align-items: center;
    
    position: relative;
    z-index: 1;
    top:-25px;
}
nav div ul li:first-child{
    width: 107px;
    height: 40px;
    display: flex;
   
    justify-content: center;
    
}
nav div ul li:nth-child(2){
    width: 145px;
    display: flex;
    height: 40px;


    justify-content: center;
    
}
nav div ul li:last-child{
    width: 113px;
    height: 40px;
    display: flex;
   

    justify-content: center;
    
}
nav div ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    text-decoration: none;
    font-family: 'Comfortaa';
    height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 35px;
    transition: background-color 0.3s ease-in-out;
}
nav div ul li a{
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
}

nav div ul li a:active{
    
    color:#FFF;
    background-color: #5a91fe;
    
}
.navbar-carte div ul li:first-child a{
    color:#FFF;
    background-color: #5a91fe;
}
.navbar-questionnaire div ul li:nth-child(2) a{
    color:#FFF;
    background-color: #5a91fe;
}